/**
 * Custom CSS properties.
 */
 /* Include text font */
 @font-face {
    font-family: 'Rubik';
    src: url('/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

 :root {
    /* Text font */
    --family: 'Rubik';

    /* Shadow */
    --shadow: 0 0 1px rgba(0, 0, 0, 0.16), 0 2px 4px 1px rgba(0, 0, 0, 0.08);

    /* Wrappers */
    --container: 1176px;
    --wrapper: 744px;
    --sp-section: 56px;

    /* Font size */
    --fs-base: 16px;

    --fs-xs: calc(var(--fs-base) * 0.75); // 12px
    --fs-s: calc(var(--fs-base) * 0.875); // 14px
    --fs-m: var(--fs-base); // 16px
    --fs-l: calc(var(--fs-base) * 1.125); // 18px
    --fs-xl: calc(var(--fs-base) * 1.25); // 20px

    /* Spaces */
    --sp: 16px; 

    --sp-xs: calc(var(--sp) * 0.25); // 4px
    --sp-s: calc(var(--sp) * 0.5); // 8px
    --sp-m: calc(var(--sp) * 0.75); // 12px
    --sp-l: var(--sp); // 16px
    --sp-xl: calc(var(--sp) * 1.5); // 24px
    --sp-xxl: calc(var(--sp) * 2); // 32px

    /* Gaps */ 
    --gap-base: 16px;

    --gap-xs: calc(var(--gap-base) / 2); // 8px
    --gap-m: var(--gap-base); // 16px
    --gap-xl: calc(var(--gap-base) * 2); // 32px

    /* Radius */
    --br-base: 4px;

    --br-xs: calc(var(--br-base) / 2); // 2px
    --br-s: var(--br-base); // 4px
    --br-m: calc(var(--br-base) * 2); // 8px
    --br-l: calc(var(--br-base) * 4); // 16px
    --br-xl: calc(var(--br-base) * 6); // 24px

    /* Colors */
    --c-white: #FFF;
    --c-black: #000;
    --c-01: #223440;
    --c-02: #5D7A8C;
    --c-03: #F2F2F2;
    --c-04: #BACBD9;
    --c-05: #1D1340;
}
