#modal-registration, #modal-login {

    .modal__container {

        .modal__wrapper {

            .modal__content {

                .alert {
                    font-family: var(--family);
                    color: red;
                }

                .hidden {
                    display: none;
                }

                .form {
    
                    &__element {
                        margin: var(--sp-l) 0 var(--sp-l) 0;
                        width: 100%;
    
                        label {
                            font-family: var(--family);
                            font-size: var(--fs-l);
                            color: var(--c-05);
                        }
    
                        input {
                            border: 2px solid var(--c-04);
                            border-radius: var(--br-m);
                            box-shadow: 0 0 1px rgba(0,0,0,.16), 0 2px 4px 1px rgba(0,0,0,.08);
                            font-family: var(--family);
                            font-size: var(--fs-m);
                            font-weight: 100;
                            font-style: italic;
                            margin-top: var(--sp-xs);
                            padding: var(--sp-m) var(--sp-l);
                            width: -webkit-fill-available;
                            width: -moz-available;
                        }

                        textarea {
                            font-family: var(--family);
                            font-size: var(--fs-m);
                            font-weight: 100;
                            font-style: italic;
                            padding: var(--sp-m) var(--sp-l);
                            resize: none;
                            border: 2px solid var(--c-04);
                            border-radius: var(--br-m);
                            box-shadow: var(--shadow);
                            width: -webkit-fill-available;
                            width: -moz-available;
                        }
                    }
                }
                .section__actions {
                    margin-bottom: unset;
                }
            }
        }
    }
}
