<section class="section section-cards">
    <div class="container">
        <div class="section__inner">
            <h2>
                Про наш продукт
            </h2>
            <ul class="items">
                <li class="item">
                    <div class="item__number"><i class="fa-solid fa-snowflake"></i></div>
                    <h3 class="item__name">Збір даних</h3>
                    <div class="item__text">Виконується збір даних з локальної метеостанції та дані з метеосайтів (<a href="https://joint-research-centre.ec.europa.eu/photovoltaic-geographical-information-system-pvgis_en">PVGIS</a>). Робота з даними відбувається за період: 01.01.2020 - 31.12.2021. Параметри даних з якими працює запропонована програма: сонячне опромінення, вологість, температура, тиск, швидкість вітру, кут висоти сонця до горизонту.</div>
                </li>
                <li class="item">
                    <div class="item__number"><i class="fa-solid fa-cloud"></i></div>
                    <h3 class="item__name">Нормування даних</h3>
                    <div class="item__text">Всередині нашої програми здійснюється нормування всіх параметрів для подільшого використання в аналізі. Нормування даних відбувається у межах від 0 до 1, методом масштабування ознак. Було виконано перевірку виконання цього масштабування графічним чином, вивівши співвідношення нормованих даних до емпіричних у вигляді графіку.</div>
                </li>
                <li class="item">
                    <div class="item__number"><i class="fa-solid fa-sun"></i></div>
                    <h3 class="item__name">Кореляційний аналіз</h3>
                    <div class="item__text">Проводиться кореляційний аналіз метеостанції та сервісу PVIGS для того, щоб ми могли скористатись даними метеосайту для прогнозування параметрів оточуючого середовища. Запропонована програма дає можливість зробити інтелектуальний аналіз. Знайти, вплив яких саме параметрів є більш суттєвим.</div>
                </li>
            </ul>
        </div>
    </div>
</section>