<section class="section section-contact_us">
    <div class="container">
        <div class="section__inner">
            <h2>
                Наші контакти
            </h2>
            <div class="section__subtitle">
                <p>
                    Ви завжди можете звернутися до нас з пропозицією покращення продукту або коли маєте певні технічні проблеми. Ми радо вислухаємо вас та допоможемо за потреби. 
                </p>
            </div>
            <div class="contact">
                <span class="contact__before">Електронна пошта:</span>
                <span class="contact__information">6282856@stud.nau.edu.ua</span>
                <br>
                <span class="contact__before">Номер телефону:</span>
                <span class="contact__information">+38 097 374 58 41</span>
            </div>
        </div>
    </div>
</section>