<div id="hero_first" class="section section-hero_first">
  <div class="container">
    <div class="section__inner">
      <h2>
        Дані завжди містять приховане значення.<br>Ми допоможемо вам його здобути.
      </h2>
      <div class="section__subtitle">
        <p>
          Інтелектуальний аналіз даних, який надасть нам можливість знайти приховані параметри, за допомогою яких ми
          отримаємо здатність прогнозувати профіль електропостачання.
        </p>
      </div>
      <div class="main-image">
        <img src="/assets/images/data.webp" alt="Main image">
      </div>
      <div class="log-in">
        <span class="log-in__text">Вже маєте акаунт?</span>
      </div>
      <div class="button_wrap">
        <div class="section__actions">
          <a href="#open-modal-reg" class="button">Реєстрація</a>
        </div>
        <div class="section__actions">
          <a href="#open-modal-log" class="button">Вхід</a>
        </div>
      </div>
    </div>
  </div>
</div>