<footer class="footer">
  <div class="footer__copy">
    Cерверна частина інтелектуальної електричної системи
  </div>
  <div class="footer__text">
    Якщо вас зацікавила ця розробка і ви хочете допомогти, можете зв'язатись з нами із своїми ідеями та
    пропозиціями.<br>Електронна пошта: <i>6282856@stud.nau.edu.ua</i>; Номер телефону: <i>+38 097 374 58 41</i>.
  </div>
</footer>