<header class="header">
  <a href="/" class="header__logo">
    <fa-2xl class="fa-solid fa-cloud-sun-rain fa-2xl fa-beat-fade"></fa-cloud-sun-rain>
  </a>
  <div class="header__page">
    <a href = "/">Головна сторінка</a>
    <a href = "/test">Тест нормальності розподілу</a>
    <a href = "/normalization">Нормування</a>
    <a href = "/corelation">Кореляція</a>
  </div>
</header>
