<header class="header">
  <a href="/" class="header__logo">
    <i class="fa-solid fa-flask fa-2xl fa-beat-fade"></i>
  </a>
  <div class="header__page">
    <a href = "http://localhost:8888/canvas.php">Редактор</a>
    <a href = "http://localhost:8888/templates/pages/artist.php">Сторінка користувача</a>
    <a href = "http://localhost:8888/templates/pages/rating.php">Рейтинг</a>
  </div>
</header>
