<div>
  <%- result.plot %>
</div>
<div>
  <%- result.plotCheck %>
</div>
<div>
  Пояснення до першої картинки
  <ul>
    <li>Вісь абсцис - часовий проміжок</li>
    <li>Вісь оридинат - нормовані дані</li>
  </ul>
</div>
<div>
  Пояснення до другої картинки
  <ul>
    <li>Вісь абсцис - оригінальні дані</li>
    <li>Вісь оридинат - нормовані дані</li>
  </ul>
</div>
<div>
  Досліджувана величина - <%= getParams.table %>/<%= getParams.column %>
</div>
