<div id="normalization_block" class="section section-normalization_block">
  <div class="container">
    <div class="section__inner">
      <h2>
        Нормування даних
      </h2>
      <div class="section__actions">
          <div class="image"><%- include('../../public/images/normalization.svg') %></div>
          <div class="section__subtitle">
            <p>
              Нормування – це процес перетворення даних у безрозмірні одиниці, іноді в межах заданого діапазону, наприклад, [0..1] або [-1..1], або з певною властивістю, як-от стандартне відхилення, що дорівнює 1. 
              Цей етап зазвичай виконується під час попередньої обробки даних.
              Мета нормування – привести різні дані з різними одиницями виміру та діапазонами до єдиного формату, що дозволяє їх порівнювати або використовувати для обчислення схожості об'єктів, наприклад, у кластеризації або машинному навчанні.
            </p>
          </div>
          <a href="#open-modal-normalization" class="button">Почати нормування</a>
      </div>
    </div>
  </div>
</div>

