<div class="section section-normalization_result">
  <div class="container">
    <div class="section__inner">
      <div>
        <%- result.plot %>
      </div>
      <div class="section__subtitle">
        <p class="p__bold">
          Пояснення до першої картинки:
        </p>
        <p>
          Вісь абсцис - часовий проміжок
        </p>
        <p>
          Вісь оридинат - нормовані дані
        </p>
      </div>
      <div class="square">
        <%- result.plotCheck %>
      </div>
      <div class="section__subtitle">
        <p class="p__bold">
          Пояснення до другої картинки:
        </p>
        <p>
          Вісь абсцис - оригінальні дані
        </p>
        <p>
          Вісь оридинат - нормовані дані
        </p>
      </div>
      <h2>
        Досліджувана величина - <%= getParams.table %>/<%= getParams.column %>
      </h2>
    </div>
  </div>
</div>