<div class="modal" id="modal-registration" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true">
      <div class="modal__wrapper">

        <header class="modal__header">
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>

        <main class="modal__content">
          <div class="form-wrapper">
            <h2 class="section__title">Реєстрація</h2>
          </div>

          <form id="registration-form" class="form" aria-label="Contact form" method="post" action="">
            <div class="alert hidden">Необхідно заповнити всі поля</div>
            <div class="alert hidden">Пароль повинен бути більше 8 символів</div>
            <div class="alert hidden">Повторений пароль неправильний</div>
            <div class="alert hidden">Перевірте використану пошту</div>
            <div class="form__element">
              <label>Нікнейм</label>
              <br>
              <input type="text" placeholder="Нікнейм" name="username">
            </div>
            <div class="form__element">
              <label>Електронна пошта</label>
              <br>
              <input type="email" placeholder="Електронна пошта" name="email">
            </div>
            <div class="form__element">
              <label>Пароль</label>
              <br>
              <input type="password" placeholder="Пароль" name="password">
            </div>
            <div class="form__element">
              <label>Повторіть пароль</label>
              <br>
              <input type="password" placeholder="Повторіть пароль" name="repeatPassword">
            </div>
            <div class="form__element">
              <label>Опис користувача</label>
              <br>
              <textarea placeholder="Опис..." name="description"></textarea>
            </div>
            <div class="form__element section__actions">
              <div class="section__actions">
                <a href="#submit-registration" class="button">Реєстрація</a>
              </div>
            </div>
          </form>
        </main>

      </div>
    </div>
  </div>
</div>
