<h1>
  Блок результату
</h1>
<% if (getParams.formId === "test") { %>
<%- include('../partials/test_result', {getParams, result }); %>
<% } else if (getParams.formId === "normalization") { %>
<%- include('../partials/normalization_result', {getParams, result }); %>
<% } else if (getParams.formId === "corelation") { %>
<%- include('../partials/corelation_result', {getParams, result }); %>
<% } %>
