<div class="section section-test_result">
  <div class="container">
    <div class="section__inner">
      <div class="section__subtitle">
        <p>
          W: <%= result.W %>
        </p>
        <p>
          p: <%= result.p %>
        </p>
        <p>
          <%= result.message %>
        </p>
        <br>
        <p class="p__bold">
          Пояснення до обчислень (тест Шапіро-Вілка):
        </p>
        <p>
          Метод Шапіро-Вілка слугує класичним підходом для перевірки вибірки на нормальність розподілу.
          Величина 𝑊 описує співвідношення між варіацією, очікуваною для нормального розподілу, та фактичною варіацією
          у вибірці.
          p-значення визначає ймовірність отримання обчисленого або більш екстремального значення 𝑊, якщо нульова
          гіпотеза є істинною.
        </p>
      </div>
    </div>
  </div>
</div>