<div>
    <!--Це у нас вивід W значення-->
<%= result.W %>
</div>
<div>
  <!--Це у нас вивід p значення-->
<%= result.p %>
</div>
<div>
    <!--Це у нас вивід повідомлення-->
<%= result.message %>
</div>
