<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Результат</title>
    <%- include('../partials/head_result'); %>
  </head>
  <body>

    <div class="wrapper">
      <%- include('../partials/header'); %>
      <main class="main">
        <%- include('../partials/result', {getParams}); %>
      </main>
      <%- include('../partials/footer'); %>
  </body>
</html>
